<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to "Restaurant Locator System", root_path, :class => "navbar-brand", :id => "hcolor" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                <!-- <a href="welcome/choice" class="btn btn-success" role="button">Register</a> -->
                 <align ="right"><%= link_to "Register", welcome_choice_path, :class => "btn btn-success btn-lg" %></align>
                </ul>
                
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</table>


</tr>
</table>
<center>
<div id = "welcomet">
  <center><h1>MGA KAKANAN SA MAOGMANG LUGAR<h1></center>
</div>
  
</center>

</center>
</div>


